@page "/"

<PageTitle>Index</PageTitle>

<h1>RestaurantPicker</h1>
<p>Learn more about this app on <a target="_blank" href="https://github.com/corielljacob/restaurant-picker">GitHub</a>!</p>
<p>Keeping in mind this is an extremely early version and that this may not work as expected, feel free to head over to 
    the <a href="https://restaurants.janayo-media.com/finder">Finder</a> page to try it out.</p>